streamlit==1.58.0
google-generativeai
gspread
oauth2client
pandas
gTTS
edge-tts
streamlit-mic-recorder
pypdf
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
supabase
cryptography
python-pptx
openpyxl
python-docx
streamlit-flow-component
requests
python-dotenv
numpy
Pillow
stripe
